*{
    padding: 0px;
    margin: 0px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

#ContenedorPrincipal{
    width: 100%;
    height: 100vh;
    position: relative;
}

#ContenedorPrincipal img{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -99px;
    top: 0px; 
}

header{
    width: 100%;
    height: 30px;
    position: relative;
    padding: 10px 0;
}
header h4{
    padding: 5px 20px;
}
header button{
    position: absolute;
    background: white;
    color: #014A95;
    border-radius: 50px;
    width: 120px;
    padding: 5px;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 600;
}
#Materia{
    position: relative;
    width: 50%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%); 
    top: 30%;
    
}

